<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Qrchaka.com menu for caffee and restuarant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="https://image.ibb.co/fOur3b/favicon.png"/>
  <meta name="theme-color" content="#3a9fff">
  <link rel='stylesheet' href='/static/css/bs_3_3_7.css'>
  <link href="/static/css/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
<header class="header">
  <div class="container header__container">
<div class="header__logo"><img class="header__img" src="/static/img/qrchaka-logo.png"></div> 
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
  
  <div class="header__menu">
    <nav id="navbar" class="header__nav collapse">
      <ul class="header__elenco">
        <li class="header__el header__el--blue"><a href="/admin" class="btn btn--white">Log In →</a></li>
      </ul>
    </nav>
  </div>
    </div>
</header>

<div class="sect sect--padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
    <div class="site">
      <h1 class="site__title">የ QR ሜኑ አሎት ?</h1>
      <h2 class="site__subtitle">ብዙ ደንበኞች በስልካቸው በቀላሉ ሜኑ ማየት እና ማዘዝ ይመርጣሉ!</h2>
      <h2 class="site__subtitle"> እርሶም ለደንበኞቾ ሜንዎን በቀላሉ እንዲያዩ አና እንዲይዙ ማድረግ ይችላሉ </h2>
     
      <div class="site__box-link">
        <a class="btn btn--width" href="/admin">Start Now</a>
      </div>
      <img class="site__img" src="/static/img/qrchaka-qr-ad.png">
      <div class="product_delivery"> (በጠረፔዛ ላይ የሚቀመጥ እና ስካን የሚደረግ የተዘጋጁ QR ሜኑዎች አሉን ፥፥ አንደፍላጎቶ ብዛት 4 ወይም 8 እንልካለን) </div>
    </div>
    </div>
    </div>
  </div>
</div>

<div class="sect sect--padding-bottom">
  <div class="container">
    <div class="row row--center">
      <h1 class="row__title">
       የ QR ሜኑ ጥቅም
      </h1>
      <h2 class="row__sub">ደንበኞች  በቀላሉ በስልካቻው ካሜራ ስካን በማድረግ የእርሶን ሜኑ ኦንላይን እንዲያዩ አና እንዲይዙ የሚችሉበት ነው፥፥
በሲስተሙም በመታጋዝ የደንበኞን ትእዛዝ መቀበል አና ማስተናገድ ያስችሎታል በተጨማሪም ስካን የሚደረገውን ሜኑ ሳይቀይሩ የሜኑ ዋጋ አና ዝርዝሩን አንደፈለጉ በየወቅቱ መቀየር ያስችሎታል</h2>
    </div>
  </div>
</div>

<div class="sect sect--padding-bottom">
  <div class="container">
    <div class="row row--center">
      <h1 class="row__title">
        እንዴት ነው የሚኖረኝ ?
      </h1>
      <h2 class="row__sub">
      በቀላሉ ለእኛ ሜኑዎን ፎቶ አንስተው ከላኩልን በ 20 ደቂቃ ውስጥ በሲስተሙ ላይ ሜኑ አንዲኖሮ እናደርጋለን፥፥ 
በጠረፔዛ ላይ የሚቀመጥ ደንበኞች ስካን የሚያደርጉቱን ሚኑ ብዛት 4 ውይም 8 አንደፍላጎቶ አንልክሎታለን
      </h2>
    </div>
  </div>
</div>

<div class="sect sect--padding-bottom">
<div class="container">
<div class="row row--center">
  <h1 class="row__title">
    ዋጋችን
  </h1>
  <h2 class="row__sub">ለ እርሶ ተሳማሚ የሆነውን  የአገልግሎት የዋጋ አይነት ይመረጡ</h2>
</div>
<div class="row row--center row--margin">

  <!-- second -->
  <div class="col-md-4 col-sm-4 price-box price-box--violet">
  <div class="price-box__wrap">
      <div class="price-box__img"></div>
      <h1 class="price-box__title">
        መደበኛ
      </h1>
      
      <h2 class="price-box__discount">
      <span class="price-box__dollar">ብር</span>125<span class="price-box__discount--light">/ በወር</span>
      </h2>
      <p class="price-box__people">
        ክፍያ በዓመት ብር 1500
      </p>
  
      <p class="price-box__feat">
        የሚያገኙት አገልግሎት 
      </p>
      <ul class="price-box__list">
        <li class="price-box__list-el">ብዛት 4 ጠረፔዛ ላይ የሚቀመጥ ስካን የሚደረግ QR ሜኑ አንልካለን</li>
        <li class="price-box__list-el">ያልተገደበ የሜኑ ዝርዝር መመዝገብ</li>
        <li class="price-box__list-el">ለ 1 ዓመት የሚፈልጉትን እርዳታ ያገኛሉ </li>
      </ul>
      <div class="price-box__btn">
      <a class="btn btn--violet btn--width" href="/admin">Start now</a>
    </div>
  </div>
  </div>

  <!-- terzo -->
  <div class="col-md-4 col-sm-4 price-box price-box--blue">
  <div class="price-box__wrap">
      <div class="price-box__img"></div>
      <h1 class="price-box__title">
        ከፍተኛ
      </h1>
      
      <h2 class="price-box__discount">
      <span class="price-box__dollar">ብር</span>183<span class="price-box__discount--light">/ በወር </span>
      </h2>
      <p class="price-box__people">
        ክፍያ በዓመት ብር 2200
      </p>
     
      <p class="price-box__feat">
       የሚያገኙት አገልግሎት 
      </p>
      <ul class="price-box__list">
        <li class="price-box__list-el">ብዛት 8 ጠረፔዛ ላይ የሚቀመጥ ስካን የሚደረግ QR ሜኑ አንልካለን</li>
        <li class="price-box__list-el">ያልተገደበ የሜኑ ዝርዝር ይኖሮታል</li>
        <li class="price-box__list-el">ለ 1 ዓመት የሚፈልጉትን እርዳታ ያገኛሉ </li>
      </ul>
    <div class="price-box__btn">
      <a class="btn btn--blue btn--width" href="/admin">Start now</a>
    </div>
  </div>
  </div>
  
    <!-- first -->
  <div class="col-md-4 col-sm-4 price-box price-box--purple">
    <div class="price-box__wrap">
      <div class="price-box__img"></div>
      <h1 class="price-box__title">
        በነጻ መጠቀም ወይም መሞከር
      </h1>
     
      <p class="price-box__feat">
        የሚያገኙት አገልግሎት 
      </p>
      <ul class="price-box__list">
        <li class="price-box__list-el">እስከ 10 ዓይነት የምግብ ወይም መጠጥ መመዝገብ ያስችላል</li>
        <li class="price-box__list-el">ሲስተሙ QR ሜኑ ያዘጋጅሎታል እራሶ ፕሪንት ያደርጋሉ</li>
      </ul>
      <div class="price-box__btn">
        <a class="btn btn--purple btn--width" href="/admin">Start now</a>
      </div>
    </div>
  </div>

</div>
</div>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer__logo">
        <img class="footer__img" src="/static/img/qrchaka-logo.png">
      </div>
    </div>
    <div class="row">
       <div class="col-md">
            <h2 class="call_us">
              <span class="price-box__dollar">ስልክ</span>0993 647060<span class="price-box__discount--light"></span>
            </h2>
       </div>
    </div>
  </div>
</footer>

</body>
<!-- partial -->
<script src='/static/js/jquery-3.6.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>

</body>
</html>
