
    <div class="form">
        
        <ul class="tab-group">
            <li class="tab active"><a href="#signup">Sign Up</a></li>
            <li class="tab"><a href="#login">Log In</a></li>
        </ul>
        
        <div class="tab-content">
            <div id="signup">   
            <h1>Sign Up for Free</h1>
            <form class="form-signup">

                <div class="field-wrap">
                    <label>
                    Email Address<span class="req">*</span>
                    </label>
                    <input type="email" id="i1" required autocomplete="off"/>
                </div>
                
                <div class="field-wrap">
                    <label>
                    Set A Password<span class="req">*</span>
                    </label>
                    <input type="password" id="i2" required autocomplete="off"/>
                </div>
                
                <button type="submit" class="button button-block button-reg">Get Started</button> 
            </form>
            </div>
            
            <div id="login">   
                <h1>Welcome Back!</h1>
                
                <form class="form-login">
                    <div class="field-wrap">
                        <label>Email Address<span class="req">*</span></label>
                        <input type="email" id="l1" required autocomplete="off"/>
                    </div>
                
                    <div class="field-wrap">
                        <label>Password<span class="req">*</span> </label>
                        <input type="password" id="l2" required autocomplete="off"/>
                    </div>
                
                    <p class="forgot"><a href="#">Forgot Password?</a></p>
                
                    <button type="submit" class="button button-block button-login">Log In</button>
                
                </form>

            </div>
            
        </div><!-- tab-content -->
        
    </div> <!-- /form -->
   